# Postgres
POSTGRES_HOST=""
POSTGRES_PORT=""
POSTGRES_DB=""
POSTGRES_USER=""
POSTGRES_PASSWORD=""

# PostgreSQL 연결 설정 (RAG 벡터DB용)
CONNECTION_STRING=""
# 데이터 경로 설정
SOURCE_PATH=""


# openAI API key 
######################
OPENAI_API_KEY=""
# openAI 모델선정
EMBEDDING_MODEL=text-embedding-3-small
LLM_MODEL=gpt-5-nano
